mixin tour-li(data)
  .tour-li&attributes(attributes)
    .tour-li__img.img
      a(href="./index.html"): img.img__i(src=`assets/img/tours/${data.img}.jpg`)
      +btn('Выбрать тур', { expand: true })

    a(href="./index.html").t-h6.tour-li__title= data.title
    ul.tour-li__list
      li
        +svg('people')
        p= data.people
      li
        +svg('clock')
        p= data.time
      li
        +svg('pin')
        p= data.location

    b.tour-li__price= `от ${data.price}₽`
  


